[submodule "rpgroller"]
	path = rpgroller
	url = https://github.com/InterestsFantastic/rpgroller.git
[submodule "TravellerLetterNumbers"]
	path = TravellerLetterNumbers
	url = https://github.com/InterestsFantastic/TravellerDiceLetterNumbers.git
[submodule "inflect"]
	path = inflect
	url = https://github.com/InterestsFantastic/inflect.git
[submodule "ODSReader"]
	path = ODSReader
	url = https://github.com/InterestsFantastic/read-ods-with-odfpy.git
