[submodule "odfpy"]
	path = odfpy
	url = https://github.com/InterestsFantastic/odfpy.git
[submodule "rpgroller"]
	path = rpgroller
	url = https://github.com/InterestsFantastic/rpgroller.git
[submodule "TravellerLetterNumbers"]
	path = TravellerLetterNumbers
	url = https://github.com/InterestsFantastic/TravellerDiceLetterNumbers.git
